<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/indexCSS.css">
  </head>

  <body>
    <ul>
      <li><a class="active" href="#">About</a></li>
      <li><a href="#">Globe</a><li>
      <li><a href="#">Map</a></li>
      <li><a href="#">Updates</a></li>
    </ul>

    <div id="image">
    </div>
    <h1 id="center">Meteors</h1>
    <p class="centertext">Currently under construction (:</p>


    <p id="signature">Created by <a href="https://github.com/EVelez79"> Erick Velez </a></p>
  </body>
</html>
