<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>

    <link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="static/indexCSS.css">
  </head>

  <body>
    <ul>
      <li><a class="active" href="/">About</a></li>
      <li><a href="/globe">Globe</a><li>
      <li><a href="/map">Map</a></li>
      <li><a href="/updates">Updates</a></li>
    </ul>

    <div id="image">
    </div>
    <h1 id="center">Meteors</h1>
    <p class="centertext">What do we know about them?
    <p class="centertext">The minerals they contain, the places they come from.</p>
    <p class = "centertext">Sometimes we forget where they end up.</p>

    <p id="signature">Created by <a href="https://github.com/EVelez79"> Erick Velez </a></p>
  </body>
</html>
