<!DOCTYPE html>
<html>
  <head>
    <title>Twitter Updates</title>

    <link rel="stylesheet" type="text/css" href="static/updateCSS.css">
  </head>


  <body>
    <!-- Base for navigation bar -->
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/globe">Globe</a><li>
    <li><a href="/map">Map</a></li>
    <li><a class="active" href="/updates">Updates</a></li>
  </ul>

    <a class="twitter-timeline"  href="https://twitter.com/hashtag/meteorites" data-widget-id="792518429882191872">#meteorites Tweets</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


  </body>
</html>
